@media screen and (min-width: 32.5em){

body{
    display:flex;
    flex-direction:column;
}

header{
    height: 20vh;
    max-height: none;
    grid-template-columns: 1fr 1fr ;
    align-content: center;
}

header img{
    height:18vh;
    max-height: none;
    justify-self: right;
    padding-right: 6vw;
}

header :nth-child(2) {
    font-size: 2em;
}

header :nth-child(3) {
    font-size: 1.5em;
}

header .navMenuButton{
    display:none;
}

nav{
    height: 5vh;
    justify-content: space-around;
    align-content: space-around;
}

nav ul{
    display:flex;
    margin: 0;
}

nav li{
    display:block;
}

main, footer{
    max-width: 80%;
    margin: 0 auto;
}

}