form{;
    margin: 5px auto;
    padding: 5px;
}

.form-box{
    margin: 0px 0px 20px;
}

.form-box :first-child{
    display:block;
}

#user_danger_yes{
    display:inline;
}

label{
    font-weight: bold;
    margin: 0px 0px 5px;
}

fieldset{
    border-color:  #007cc7;
    border-radius: 5px;
    margin: 10px;
}
legend{
    color:#007cc7
}

