@media screen and (min-width: 32.5em){

nav{
    white-space:nowrap;
    text-overflow:ellipsis;
    max-width: 100%;
    font-size: 2vmin;
}

nav ul{
    text-align:center;
    width:100%;
}

nav li{
    padding: 0;
    text-overflow:ellipsis;
    display:inline;
}

nav a{
    padding: 2vmax;
    text-overflow:ellipsis;
    height:100%;
    width:100%;
}

}