@import url('https://fonts.googleapis.com/css2?family=Poller+One&family=Raleway&display=swap');

/*  fonts: 
        font-family: 'Poller One', cursive;
        font-family: 'Raleway', sans-serif;
*/
/* Body Stylization */
body{
    max-width:100%;
    font-family: 'Raleway', sans-serif;
}

body h1,h2,h3,h4,h5,h6{
    font-family: 'Poller One', cursive;
    margin: 0;
}


/*header stylization, with footer mirroring styles*/
header,footer{
    background-color: #12232E;
    color: #007CC7;
}

header{
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
}

header img{
    width: 20vw;
    max-width: 100px;
    padding:1vw;
}

header h1{
    color:#4DA8DA;
    padding:1vw;
}

header h2{
    font-family: 'Raleway', sans-serif;
    color: #EEFBFB;
    padding-bottom:1vh;
}


/*Navigation stylization*/

nav a{
    color:#12232E;
    text-decoration: none;
    font-size: 7.5vmin;
}

nav .selected{
    background-color: #4DA8DA;
}

nav ul{
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

nav li{
    text-align: center;
    background:linear-gradient(350deg, #007CC7,#4DA8DA);
    padding: 1vw;
    margin: 0 auto;
}

nav li:last-child{
    border-bottom: none;
}


/*main style*/

main{
    background-color:#12232E;
    color: #EEFBFB;
    padding: 1vh;
}

main p,li,h3,h4{
    font-size: 5vw;
}

main h5,h6,div{
    font-size: 4.75vw;
}

main li img{
    width:15vw;
    filter: invert();
    margin: 1vh 0;
}

main h3,h5{
    color: #007CC7;
    margin: 1vh 0;
}

main h4,h6{
    color:#4DA8DA;
    margin: 1vh 0;
    font-family: 'Raleway', sans-serif;
}

main ul{
    list-style-type: none;
    padding: 0;
}

/*   Color Demo   */

#color_display li{
    margin: 2vw 0;
    width: 10vw;
    height: 10vh;
    color: #FFFFFF00;
    display: inline-block;
    list-style-type: none;
    border: 1vw dashed black;
}

#color_display li:first-child{
    background-color:#12232E;
}

#color_display li:nth-child(2){
    background-color:#007CC7;
}

#color_display li:nth-child(3){
    background-color:#4DA8DA;
}

#color_display li:nth-child(4){
    background-color:#203647;
}

#color_display li:last-child{
    background-color:#EEFBFB;
}
/*  End of Color Scheme styling   */

/* font demo */
#regular_demo{
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
}

#header_demo{
    font-family: 'Poller One', cursive;
    font-size: 2em;
}

