@media only screen and (min-width:60em){
    main, footer{
        width: 80%;
        margin: 0 auto;
    }

    header{
        margin: 0 auto;
    }

    #title_motto{
        font-size: 1rem;
    }

    /*---Gallery Style---*/
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .gallery figure:hover{
        box-shadow: 5px 5px 3px #007cc799;
    }

}