@media screen and (min-width: 32.5em){

body{
    display:flex;
    flex-direction:column;
}

#header_box{
    margin: 0 auto;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 2vh;
    max-width:500px;
}

header img{
    height: auto;
    max-width:100px;
}

#title_motto{
    font-size: 1rem;
}

header .navMenuButton{
    display:none;
}

nav{
    height: 5vh;
    justify-content: space-around;
    align-content: space-around;
}

nav ul{
    display:flex;
    margin: 0;
}

nav li{
    display:block;
}

main, footer{
    max-width: 95%;
    margin: 0 auto;
}

}