@media only screen and (min-width:60em){
body{
    max-width: 75vw;
    width: 80%;
}

    main{
    display: grid;
    grid-template-columns: 40vw auto auto;
    grid-template-rows: auto auto;
    column-gap: 10px;
}

#welcomeStatement{
    grid-column: 1/2;
    grid-row: 1/2;
}

#weatherStats{
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

#upcomingEvents{
    margin: 15px;
    grid-column: 2/3;
    grid-row: 1/3;
}

#localAdvertisements{
    grid-column: 3/4;
    grid-row: 1/3;
    display: block;
    margin: 15px;
    height: 100%;
    
}

#localAdvertisements figure{
    display: block;
    max-width: 100%;
    margin: 20% 0;
}

}